<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fff.mapper.news.NewsMapper">


    <!-- 1  11 111111          11               -->
    <!--万能搜索sql-->
    <select id="selectPageBySql" resultType="com.fff.pojo.News">
        ${sql}
    </select>

    <!--查询所有-->
    <select id="findAll" resultType="com.fff.pojo.News">
        select * from news
    </select>

    <!--实例插入-->
    <insert id="insertByEntry" parameterType="com.fff.pojo.News">
        insert into news(name, content, addTime)
        values (#{name},#{content},#{addTime})
    </insert>

    <!--实例更新-->
    <update id="updateByEntry" parameterType="com.fff.pojo.News">
        update news
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="addTime != null">
                addTime = #{addTime},
            </if>
        </set>
            where id = #{id}
    </update>

    <!--id删除-->
    <delete id="deleteById" parameterType="_int">
        delete from news where id = #{id}
    </delete>

    <!--id查询单用户-->
    <select id="findOneById" resultType="com.fff.pojo.News">
        select * from news where id = #{id}
    </select>
</mapper>