<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fff.mapper.itemCategory.itemCategoryMapper">

    <sql id="select_all">
        select * from ssm_fruit.item_category where isDelete = 0
    </sql>

    <sql id="select2_all">
        select * from item_category where pid  = #{id} and isDelete = 0
    </sql>

    <!--类目列表-->
    <select id="findListAll" resultType="com.fff.pojo.ItemCategory">
        <include refid="select_all"/>
    </select>

    <!--分页-->
    <select id="findListByPage" resultType="com.fff.pojo.ItemCategory">
        <include refid="select_all"/>
         limit #{start},#{end}
    </select>

    <!--新增单个一级类目-->
    <select id="additemCategoryOne" parameterType="com.fff.pojo.ItemCategory">
        insert into ssm_fruit.item_category(name, pid, isDelete)
        <if test="pid == 0L">
            VALUES (#{name},null, #{isDelete})
        </if>
        <if test="pid != 0L">
            VALUES (#{name},#{ pid}, #{isDelete})
        </if>

    </select>

    <!--通过id删除类目-->
    <select id="deleteItemById" parameterType="_int">
        delete from ssm_fruit.item_category where id = #{id}
    </select>

    <!--通过id修改一级类目-->
    <update id="updateItemId" parameterType="com.fff.pojo.ItemCategory">
        update ssm_fruit.item_category set name = #{name}
        where id = #{id}
    </update>

    <!--id查询单类目-->
    <select id="findOneById" parameterType="_int" resultType="com.fff.pojo.ItemCategory">
        select * from ssm_fruit.item_category where id = #{id}
    </select>

    <!--二级类目分页-->
    <select id="findItem2"  resultType="com.fff.pojo.ItemCategory">
        <include refid="select2_all"></include>
        limit #{start},#{end}
    </select>

    <!--二级类目列表-->
    <select id="listItem2" resultType="com.fff.pojo.ItemCategory">
        <include refid="select2_all"></include>
    </select>

    <!--新增二级类目-->
    <select id="addItem2" parameterType="com.fff.pojo.ItemCategory">
        insert into ssm_fruit.item_category(name, pid, isDelete)
        VALUES (#{name}, #{pid}, 0)
    </select>

    <!--修改二级类目-->
    <update id="updateItem2" parameterType="com.fff.pojo.ItemCategory">
        update ssm_fruit.item_category set name=#{name} where id = #{id} and pid = #{pid}
    </update>

    <!--删除二级类目-->
    <update id="deleteItem2" parameterType="_int">
        update ssm_fruit.item_category set isDelete = 1 where id = #{id}
    </update>

    <!--万能查询-->
    <select id="superSelect" resultType="com.fff.pojo.ItemCategory">
        ${sql}
    </select>

    <!--万能查询item-->
    <select id="selectItem" resultType="com.fff.pojo.Item">
        ${sql}
    </select>
</mapper>